---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//colours
$theme-color: #D29945;
$theme-highlight: #D29945;
$text-color: #404040;
$blue-color: #5580a0;
$theme-grey: #d8d8d8;

@font-face {
  font-family: Sentinel;
  src: url('/assets/fonts/sentinel/book.otf');
  font-weight: normal;
}
@font-face {
  font-family: Sentinel;
  src: url('/assets/fonts/sentinel/light.otf');
  font-weight: 200;
}
@font-face {
  font-family: Sentinel;
  src: url('/assets/fonts/sentinel/semibold.otf');
  font-weight: bold;
}
@font-face {
  font-family: Sentinel;
  src: url('/assets/fonts/sentinel/bookitalic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Sentinel;
  src: url('/assets/fonts/sentinel/lightitalic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Sentinel;
  src: url('/assets/fonts/sentinel/semibolditalic.otf');
  font-weight: bold;
  font-style: italic;
}

$serif-font: "Lora", Georgia, serif;
$sans-serif-font: "Nunito Sans", Lato, Roboto, Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.4;

//responsive
$lg: 1024px;
$md: 768px;
$sm: 425px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin box_shadow ($level) {

  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "navigation",
        "homepage",
        "post"
;
