<footer class="footer wow animated fadeIn">
    <div class="footer__element footer__element--social">
        <a href="mailto:tanjunyuan@hotmail.co.uk" class="footer__item footer__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-envelope fa-lg" aria-hidden="true" aria-label="Jun's Email: tanjunyuan@hotmail.co.uk"></i></a>
        <a href="https://www.facebook.com/jun.tan0" class="footer__item footer__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-facebook fa-lg" aria-label="Jun's Facebook"></i></a>
        <a href="https://www.twitter.com/_jun_tan" class="footer__item footer__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-twitter fa-lg"  aria-label="Jun's Twitter"></i></a>
        <a href="https://www.linkedin.com/in/junyuan-tan-8162a2109?trk=hp-identity-name" class="footer__item footer__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-linkedin fa-lg" aria-label="Jun's LinkedIn"></i></a>
        <a href="https://www.instagram.com/_juntan" class="footer__item footer__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-instagram fa-lg"  aria-label="Jun's Instagram"></i></a>
        <a href="https://www.github.com/sc1f" class="footer__item footer__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-github fa-lg" aria-label="Jun's Github"></i></a>
    </div>
    <p class="footer__item footer__item--copyright">Jun Tan, 2017</p>
</footer>
