<div class="jumbotron">
    <div class="jumbotron__element jumbotron__element--wrapper">
    <div class="jumbotron__element jumbotron__element--name">
        <h1 class="jumbotron__item jumbotron__item--name">Hi! I'm Jun.</h1>
    </div>
    <div class="jumbotron__element jumbotron__element--bio">
        <h3 class="jumbotron__item jumbotron__item--biography">I <span class="jumbotron__item" id="jumbotron__item--biography--dynamic"></span></h3>
        <p class="jumbotron__item jumbotron__item--biography--detail">I'm a sophomore at the University of Texas at Austin.</p>
        <p class="jumbotron__item jumbotron__item--biography--detail">Currently, I'm a communications intern at <a href="http://dellmedschool.utexas.edu" target="_blank" rel="nofollow noreferrer">UT-Austin Dell Medical School</a>.</p>
        <p class="jumbotron__item jumbotron__item--biography--detail">I also work for <a href="http://liberalarts.utexas.edu/laits/" target="_blank" rel="nofollow noreferrer">LAITS</a> and <a href="http://www.dailytexanonline.com/authors/junyuan-tan" target="_blank" rel="nofollow noreferrer">The Daily Texan</a>.</p>
    </div>
        <div class="jumbotron__element jumbotron__element--social">
            <a href="mailto:tanjunyuan@hotmail.co.uk" class="jumbotron__item jumbotron__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-envelope fa-lg" aria-hidden="true" aria-label="Jun's Email: tanjunyuan@hotmail.co.uk"></i></a>
            <span style="color: #fff; font-size: 1.5em; margin: 0 .5em;"> | </span>
            <a href="https://www.facebook.com/jun.tan0" class="jumbotron__item jumbotron__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-facebook fa-lg" aria-label="Jun's Facebook"></i></a>
            <a href="https://www.twitter.com/_jun_tan" class="jumbotron__item jumbotron__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-twitter fa-lg"  aria-label="Jun's Twitter"></i></a>
            <a href="https://www.linkedin.com/in/junyuan-tan-8162a2109?trk=hp-identity-name" class="jumbotron__item jumbotron__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-linkedin fa-lg" aria-label="Jun's LinkedIn"></i></a>
            <a href="https://www.instagram.com/_juntan" class="jumbotron__item jumbotron__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-instagram fa-lg"  aria-label="Jun's Instagram"></i></a>
            <a href="https://www.github.com/sc1f" class="jumbotron__item jumbotron__item--social" target="_blank" rel="nofollow noreferrer"><i class="fa fa-github fa-lg" aria-label="Jun's Github"></i></a>
        </div>
    </div>
</div>