<header class="navbar">
    <section class="navbar-section brand animated slideInLeft">
        <a href="/" class="navbar-brand">jun tan</a>
    </section>
    <i class="fa nav-mobile-toggle" aria-hidden="false" aria-label="Mobile Menu Toggle"></i>
    <section class="navbar-section navigation mobile">
        <a href="/visual" class="btn btn-link nav">visual</a>
        <a href="/web" class="btn btn-link nav">web</a>
        <a href="/photo" class="btn btn-link nav">photo</a>
        <a href="/about" class="btn btn-link nav">about</a>
    </section>
    <section class="navbar-section navigation">
        <a href="/visual" class="btn btn-link nav">visual</a>
        <a href="/web" class="btn btn-link nav">web</a>
        <a href="/photo" class="btn btn-link nav">photo</a>
        <a href="/about" class="btn btn-link nav">about</a>
    </section>
</header>