//theme

html, body {
  max-width: 100%;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
}
p, ul, li, a, span, pre {
  color: $text-color;
  font-family: $sans-serif-font;
  line-height: $base-line-height;
}

iframe {
  border: 1px solid $theme-grey;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  text-decoration-color: $blue-color !important;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $blue-color;
  }
}

hr {
  color: lightgray;
}

img {
  height: auto;
  width: 100%;
}

.btn {
  font-family: $sans-serif-font;
}
//layout

.main, .main__post {
  padding-bottom: 0;
  @include media-query($sm){
    width: 100%;
  }
}

.container {
  padding: 0;
}

.col-1 {
  @include media-query($sm) {
    display: none;
  }
}
//footer

.footer {
  border-top: 1px solid $theme-grey;
  margin-bottom: 2em;
  .footer-links {
    color: $blue-color;
    text-align: center;
    width: 100%;
  }
  padding-top: 1em;
}

.footer__element {
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item {
  color: $blue-color;
  margin: 0 1em;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    color: darken($blue-color, 10%);
  }
  
  &.footer__item--copyright {
    color: darken($theme-grey, 10%);
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1em;
    margin-left: 0;
    width: 100%;
  }
}

#to-top {
  background:#fff;
  border: 1px solid lightgray;
  color: lightgray;
  bottom: 1em;
  right: 1em;
  position: fixed;
  height: auto;
  font-weight: bold;

  &:hover {
    background: #fff;
    color: darken(lightgray, 20%);
  }

  @include media-query($md) {
    display: none !important;
  }

}


//animations
.typed-cursor{
  color: #fff;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

//responsive
