//theme

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
}
p, ul, li, a, span, pre {
  color: $text-color;
  font-family: $sans-serif-font;
  line-height: $base-line-height;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

hr {
  color: lightgray;
}

img {
  height: auto;
  width: 100%;
}

.btn {
  color: $text-color !important;
  &:hover {
    color: lighten($text-color, 15%) !important;
  }
}
//layout

//footer

.footer {
  /*border-top: 4px solid $theme-color;*/
  margin-bottom: 2em;
  .footer-links {
    text-align: center;
    width: 100%;
  }
  padding-top: 1em;
}

//animations
.typed-cursor{
  color: #fff;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

//responsive

@include media-query($sm) {
  .navbar {
    border-bottom: 1px solid $theme-grey;
    flex-direction: column;
    padding: 2em;

    .navbar-section.brand {
      margin-bottom: 1em;
    }

  }
  .navbar-section.navigation:not(.mobile){
    display: none;
  }

  .flex {
    display: flex !important;
  }

  .navbar-section.navigation.mobile {
    display: none;
    flex-direction: column;
    margin-top: 2em;
  }

  .nav-mobile-toggle {
    color: $theme-color;
    display: block;
    font-size: 1.5em !important;

    &:before {
      content: "\f0c9";
    }
    &:active {
      color: darken($theme-color, 10%);
    }
  }

  div.jumbotron-container.top {
    margin-top: 0;
  }
  
  .navbar-section.mobile {
    display: none;
  }
  .col-8 {
    width: 100%;
  }
  div.jumbotron-container {
    padding: 0;
  }
}