.jumbotron-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height:30px;
  &.top {
    margin-top: 1em;
  }
  &.bottom {
    margin-bottom: 1em;
  }

}
.jumbotron-item {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5ff4fe37894031.574fad24c28d2.jpg) no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height:auto;
  &:before {
    content:'';
    float:left;
    padding-top:100%;
  }
}

@include media-query($md){
  .jumbotron-container {
    flex-direction: column;
  }
}
