.jumbotron-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height:30px;
  &.top {
    margin-top: 1em;
  }
  &.bottom {
    margin-bottom: 1em;
  }

}
.jumbotron-item {
  background: #fcfcfc;
  border: 1px solid lightgray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height:auto;
  &:before {
    content:'';
    float:left;
    padding-top:100%;
  }
  &:hover {
    background: darken(#fcfcfc, 10%);
  }
}

/* nasty code but it works */

#1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#2 {
  animation-delay:.33s;
  -webkit-animation-delay: .33s;
}
#3 {
  animation-delay: .66s;
  -webkit-animation-delay: .66s;
}
#4 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#5 {
  animation-delay: .1.33s;
  -webkit-animation-delay: 1.33s;
}
#6 {
  animation-delay: 1.66s;
  -webkit-animation-delay: 1.66s;
}
@include media-query($md){
  .jumbotron-container {
    flex-direction: column;
  }
}
