.homepage {

}
.homepage__element {
  border-bottom: 1px solid $theme-grey;
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1.5em 0 1em 0;
  padding: 0 0 0 2rem;

  &.col-4 {
    margin: 0;
    position: relative;
    height: 30%;
    max-height: 100%;
  }

  &.homepage__element--wrapper {
    border-bottom: 0;
    border-left: 1px solid $theme-grey;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    padding: 0;
  }
}

.homepage__item {
  -js-display: flex;
  display: flex;

  //layout

  &.homepage__item--wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
  }

  &.homepage__item--list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &.homepage__item--grid {

    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0;
    width: 100%;
  }

  &.homepage__item--detail {
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 1rem 2rem .25rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.big {
      background: #fff;
      border-top: 1px solid lightgray;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      padding: 2rem 0;

      .circle {
        border-radius: 50%;
        overflow: hidden;
        height: 30%;
        margin-right: 2em;
        width: 30%;
      }

      &:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  &.homepage__item--focus {
    align-self: flex-start;
    -webkit-background-size: cover;
    background-size: cover;
    height: 60vh;
    margin-bottom: 1.5em;
    padding: 0;
    width: 100%;
  }

  &.homepage__item--focus--content {
    background: rgba(0,0,0,.25);
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;

    .homepage__brick--name {
      color: #fff;
      font-size: 2.5em;
      text-align: center;

      &:hover {
        color: #fff;
      }
    }

    .homepage__brick--detail {
      color: #fff;
      font-size: 1.25em;
      margin-bottom: .5em;
    }
  }

  &.homepage__item--action {
    align-self: flex-end;
    background: #fff;
    border-color: $blue-color;
    color: $blue-color;
    height: auto;

    &.all {
      margin-right: 2rem;
    }

    &:hover {
      background: #fff;
      color: darken($blue-color, 40%);
    }

  }
  // typography

  &.homepage__item--heading {
    color: #cc5527;
    align-self: flex-start;
    margin: 0;

    &.latest {
      font-size: 2.5em;
      font-style: italic;
      margin: .5em 0 .35em 0;
    }
  }
}

.homepage__brick {

  &.homepage__brick--image {
    @include box_shadow(2);
    margin-bottom: .5em;

    &:hover {
      @include box_shadow(3);
    }

    &.small {
      height: 50%;
      @include box_shadow(1);

      &:hover {
        @include box_shadow(2);
      }
    }
  }

  &.homepage__brick--wrapper {
    -js-display: flex;
    display: flex;
    flex-direction: column;
  }
  &.homepage__brick--name {
    color: $blue-color;
    font-size: 1.75em;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: .75rem;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: darken($blue-color, 10%);
      text-decoration: underline;
    }
  }

  &.homepage__brick--detail {
    border-bottom:0;
    color: $text-color;
    text-decoration: none !important;
    font-style: italic;
  }
}