.post.container {

  .col-3 {
    display: flex;
    flex-direction: column;
    float: left;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  .col-9 {
    align-content: center;
    display: flex;
    flex-direction: column;
    float: right;
    padding: 1em;
  }

}

.post-information {
  background: #fff;
  position: absolute;
  width: 15%;
}

.post-content {
  width: 85%;
  padding: 0 1em 0 1em;
}
.post-title {
  font-style: italic;
  font-size: 4.5em;
}

.post-created-for {
  color: lighten($text-color, 30%);
}

// About Page

.about-container {
  margin-bottom: 2em;
}

.about-portrait-container {
  float: left;
}

.about-txt-container {
  float: right;
  padding: 0 2em;
}
/* Responsive Design */

@include media-query($lg){

}

@include media-query($md){

}

@include media-query($sm){
  .post.container {

    .col-3, .col-9 {
      width: 100%;
    }

  }
  .post-information {
    padding: 0 3em;
    position: relative;
    width: 100%;
  }

  .about-portrait {
    max-width: 100vw;
    width: 100vw !important;
  }
  .about-txt {
    padding: 2em;
  }

  .post-title {
    font-size: 3em;
    padding: 0 1em 0 1em;
  }
}