input#search {
  font-family: $sans-serif-font;

}
// postlist

.postlist {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.postlist__element {
  border-bottom: 1px solid $theme-grey;
  -js-display: flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1em 1em 2em 0;

  &:first-of-type {
    padding-top:0;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &.postlist__element--wrapper {
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
  }

}

.postlist__item {
  &.postlist__item--title {
    color: $blue-color;
    font-family: $serif-font;
    font-style: italic;
    margin-top: 0;
    font-size: 2.5em;
  }

  &.postlist__item--detail {
    &.category {
      color: darken($theme-grey, 30%);
      font-family: $serif-font;
      font-style: italic;
      font-size: 1.75rem;
      margin-bottom: 0;
    }
  }

  &.postlist__item--image {
    margin-right: 2em;
    width: 30%;
    @include box_shadow(1);

  }
}

//postsearch

#postsearch {
  padding: 0 0 2em 0;
  margin: 1em 0 1em 0;
}

.postsearch__item {
  border-bottom: 1px solid $theme-grey;
  list-style-type: none;
  padding: 0 0 1em 0;
  
  &.postsearch__item--name {
    color: $blue-color;
  }
}

//post

.post {
  img {
    margin: 0 0 1em 0;
  }
  p {
    color: $text-color;
    font-size: 1.6rem;
    line-height: 1.6;

    @include media-query($sm) {
      line-height: 1.2;
    }
  }
}

.main__post {
  @include media-query($sm) {
    padding: 0 2em;
    width: 100%;
  }
}

.post__element {
  &.post__element--header {
    border-bottom: 1px solid $theme-grey;
    margin-bottom: 1em;
    padding: 0 0 1em 0;
  }
}

.post__item {

  &.post__item--title {
    color: #BF633F;
    font-size: 5em;
    margin-bottom: .1em;

    @include media-query($sm) {
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      font-size: 2em;
    }
  }
  &.post__item--detail {
    &.produced_for {
      color: darken($theme-grey, 40%);
      font-family: $serif-font;
      font-style: italic;
    }
    &.date {
      color: darken($theme-grey, 20%);
    }
  }
}


div.col-2.column {
  @include media-query($sm) {
    display: none;
  }
}

.caption {
  color: #808080
}

.post {
  p {
    a {
      color: $blue-color;
    }
    img {
      @include box-shadow(2);
    }
  }
}

td.blob-code > span {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}