<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  {% include header.html %}
    <div class="container">
        <div class="columns">
            <div class="col-1 column"></div>
            <div class="col-10 main column">


                {{ content }}

                <button class="btn" id="to-top">Back to Top</button>

            </div>
            <div class="col-1 column"></div>
        </div>
        {% include footer.html %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/main.min.js"></script>
  </body>

</html>
