<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include post_header.html %}
<div class="container">
    <div class="columns">
        <div class="col-2 column"></div>
        <div class="col-8 column main__post">
            <div class="post__element post__element--header">
                <h1 class="post__item post__item--title">{{ page.title }}</h1>
                <p class="post__item post__item--detail produced_for">Produced for {{ page.for }}</p>
                <p class="post__item post__item--detail date">Tools: {{ page.tools }}</p>
                <p class="post__item post__item--detail date">Last Updated: {{ page.date | date: "%B %Y" }}</p>
            </div>
            <div class="post">
                {{ content }}
            </div>


            <button class="btn" id="to-top">Back to Top</button>
        </div>
        <div class="col-2 column"></div>
    </div>
    {% include footer.html %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/main.min.js"></script>
</body>

</html>
